.hero{
    background-image: url("/src/assets/banner.jfif");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .buttons{
        display: flex;justify-content: space-between;gap: 20px;

        .btn{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #c39a7a;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover{
                background-color: #dbd0c5;
            }
        }
    }
}



.categories{
    .categories-inner{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 50px 0;

        img{
            width: 200px;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover{
                transform: scale(1.05);
            }
        }
    }
}